<a href="https://colab.research.google.com/github/sowmyarajesh/PythonMachingLearning/blob/main/Mammographic_Mass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mammographic Mass Data Set

Dataset Link:  https://archive.ics.uci.edu/ml/datasets/Mammographic+Mass

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

### download the mo

In [ ]:
breast_cancer_data = pd.read_csv('sample_data/breast-cancer.csv')

EDA

In [ ]:
breast_cancer_data.shape

(286, 10)

In [ ]:
breast_cancer_data.head(10)

                  Class    age menopause  ... breast breast-quad irradiat
0  no-recurrence-events  30-39   premeno  ...   left    left_low       no
1  no-recurrence-events  40-49   premeno  ...  right    right_up       no
2  no-recurrence-events  40-49   premeno  ...   left    left_low       no
3  no-recurrence-events  60-69      ge40  ...  right     left_up       no
4  no-recurrence-events  40-49   premeno  ...  right   right_low       no
5  no-recurrence-events  60-69      ge40  ...   left    left_low       no
6  no-recurrence-events  50-59   premeno  ...   left    left_low       no
7  no-recurrence-events  60-69      ge40  ...   left    left_low       no
8  no-recurrence-events  40-49   premeno  ...   left    left_low       no
9  no-recurrence-events  40-49   premeno  ...  right     left_up       no

[10 rows x 10 columns]

In [ ]:
breast_cancer_data['deg-malig'].unique()

array([3, 2, 1])

In [ ]:
# understand the data type of the data points
# It is good to have all the features to the same datatype - recommended
breast_cancer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Class        286 non-null    object
 1   age          286 non-null    object
 2   menopause    286 non-null    object
 3   tumor-size   286 non-null    object
 4   inv-nodes    286 non-null    object
 5   node-caps    286 non-null    object
 6   deg-malig    286 non-null    int64
 7   breast       286 non-null    object
 8   breast-quad  286 non-null    object
 9   irradiat     286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

In [ ]:
# checking for missing values
breast_cancer_data.isnull().sum()

Class          0
age            0
menopause      0
tumor-size     0
inv-nodes      0
node-caps      0
deg-malig      0
breast         0
breast-quad    0
irradiat       0
dtype: int64

Statistical summary of the data - Descriptive Statistics

In [ ]:
breast_cancer_data.describe()

        deg-malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

In [ ]:
breast_cancer_data['Class'].value_counts()

no-recurrence-events    201
recurrence-events        85
Name: Class, dtype: int64

In [ ]:
breast_cancer_data.describe(exclude=[np.number])

                       Class    age menopause  ... breast breast-quad irradiat
count                    286    286       286  ...    286         286      286
unique                     2      6         3  ...      2           6        2
top     no-recurrence-events  50-59   premeno  ...   left    left_low       no
freq                     201     96       150  ...    152         110      218

[4 rows x 9 columns]

In [ ]:
breast_cancer_data.describe()

        deg-malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000